@using Syncfusion.JavaScript;
@using Syncfusion.JavaScript.DataVisualization;

@section SampleHeading{
    <span class="sampleName">Default Functionalities</span>
}
@section MetaTags{
    <meta name="description" content="This sample demonstrates the default rendering of the Syncfusion ASP.NET Web Forms Bullet graph control.">
}
@section ControlsSection{
   <div class="Common">
	<div class="tablediv" style = "font-size: 17px;font-weight: 400;">
		This sample demonstrates the default rendering of the Syncfusion ASP.NET Web Forms Bullet graph control
    </div>
    <br/> 
    <center>
    <div>
        <ej-bullet-graph id="Bullet2" quantitative-scale-length="475" width="595" qualitative-range-size="32" orientation="@Orientation.Horizontal" flow-direction="@FlowDirection.Forward">
            <e-bullet-tooltip-settings visible="true" template="Tooltip">
            </e-bullet-tooltip-settings>
            <e-qualitative-ranges>
                <e-qualitative-range range-end="4.3"></e-qualitative-range>
                <e-qualitative-range range-end="7.3"></e-qualitative-range>
                <e-qualitative-range range-end="10"></e-qualitative-range>
            </e-qualitative-ranges>
            <e-quantitative-scale-settings tick-position="@TickPosition.Far" maximum="10" minimum="0" interval="1" minor-ticks-per-interval="4">
                <e-location x="110" y="10"></e-location>
                <e-major-tick-settings size="13" width="1"></e-major-tick-settings>
                <e-minor-tick-settings size="5" width="1"></e-minor-tick-settings>
                <e-label-settings position="@LabelPosition.Below" offset="14" size="10"></e-label-settings>
                <e-featured-measure-settings width="6"></e-featured-measure-settings>
                <e-comparative-measure-settings width="5"></e-comparative-measure-settings>
                <e-feature-measures><e-feature-measure comparative-measure="6.7" value="8" category=""></e-feature-measure></e-feature-measures>
            </e-quantitative-scale-settings>
            <e-caption-settings text-angle="0" text="Revenue YTD"><e-location x="17" y="20"></e-location>
                <e-sub-title text-angle="0" text="$ in Thousands">
                    <e-location x="10" y="35"></e-location>
                    <e-bullet-font font-family="Segeo UI"></e-bullet-font>
                </e-sub-title>
            </e-caption-settings>
        </ej-bullet-graph>
    </div>
    <div>
        <ej-bullet-graph id="Bullet3" quantitative-scale-length="475" width="595" qualitative-range-size="32" orientation="@Orientation.Horizontal" flow-direction="@FlowDirection.Forward">
            <e-qualitative-ranges>
                <e-qualitative-range range-end="-4"></e-qualitative-range>
                <e-qualitative-range range-end="3"></e-qualitative-range>
                <e-qualitative-range range-end="10"></e-qualitative-range>
            </e-qualitative-ranges>
            <e-caption-settings text-angle="0" text="Profit">
                <e-location x="60" y="25"></e-location>
                <e-bullet-font font-family="Segeo UI"></e-bullet-font>
            </e-caption-settings>
            <e-quantitative-scale-settings tick-position="@TickPosition.Far" maximum="10" minimum="-10" interval="2" minor-ticks-per-interval="4">
                <e-location x="110" y="10"></e-location>
                <e-major-tick-settings size="13" width="1"></e-major-tick-settings>
                <e-minor-tick-settings size="5" width="1"></e-minor-tick-settings>
                <e-label-settings label-suffix="%" position="@LabelPosition.Below" offset="14" size="10"></e-label-settings>
                <e-featured-measure-settings width="6"></e-featured-measure-settings>
                <e-comparative-measure-settings width="5"></e-comparative-measure-settings>
                <e-feature-measures><e-feature-measure comparative-measure="6.7" value="8"></e-feature-measure></e-feature-measures>
            </e-quantitative-scale-settings>
         </ej-bullet-graph>
</div>
    <div>
       <ej-bullet-graph id="Bullet4" width="620" quantitative-scale-length="475" qualitative-range-size="32" orientation="@Orientation.Horizontal" flow-direction="@FlowDirection.Backward">
           <e-bullet-tooltip-settings visible="true"></e-bullet-tooltip-settings>
           <e-qualitative-ranges>
               <e-qualitative-range range-end="-4.3"></e-qualitative-range>
               <e-qualitative-range range-end="4.3"></e-qualitative-range>
               <e-qualitative-range range-end="10"></e-qualitative-range>
           </e-qualitative-ranges>
           <e-caption-settings text-angle="0" text="Expenses">
               <e-location x="38" y="25"></e-location>
               <e-bullet-font font-family="Segeo UI"></e-bullet-font>
           </e-caption-settings>
           <e-quantitative-scale-settings tick-position="@TickPosition.Far" maximum="10" minimum="-10" interval="2" minor-ticks-per-interval="4">
               <e-location x="125" y="10"></e-location>
               <e-major-tick-settings size="13" width="1"></e-major-tick-settings>
               <e-minor-tick-settings size="5" width="1"></e-minor-tick-settings>
               <e-label-settings label-suffix="%" position="@LabelPosition.Below" offset="14" size="10"></e-label-settings>
               <e-featured-measure-settings width="6"></e-featured-measure-settings>
               <e-comparative-measure-settings width="5"></e-comparative-measure-settings>
               <e-feature-measures><e-feature-measure comparative-measure="-2" value="-2"></e-feature-measure></e-feature-measures>
           </e-quantitative-scale-settings>
        </ej-bullet-graph>
</div>
    <div>
        <ej-bullet-graph id="Bullet5" width="620" quantitative-scale-length="475" qualitative-range-size="32" orientation="@Orientation.Horizontal" flow-direction="@FlowDirection.Backward">
            <e-bullet-tooltip-settings visible="true" template="Tooltip"></e-bullet-tooltip-settings>
            <e-qualitative-ranges>
                <e-qualitative-range range-end="4.3"></e-qualitative-range>
                <e-qualitative-range range-end="7.3"></e-qualitative-range>
                <e-qualitative-range range-end="10"></e-qualitative-range>
            </e-qualitative-ranges>
            <e-caption-settings text-angle="0" text="Revenue YTD">
                <e-location x="17" y="20"></e-location>
                <e-bullet-font font-family="Segeo UI"></e-bullet-font>
                <e-sub-title text-angle="0" text="$ in Thousands"><e-location x="10" y="35"></e-location></e-sub-title>
            </e-caption-settings>
            <e-quantitative-scale-settings tick-position="@TickPosition.Far" maximum="10" minimum="0" interval="1" minor-ticks-per-interval="4">
                <e-location x="125" y="10"></e-location>
                <e-major-tick-settings size="13" width="1"></e-major-tick-settings>
                <e-minor-tick-settings size="5" width="1"></e-minor-tick-settings>
                <e-label-settings label-suffix="K" label-prefix="$" position="@LabelPosition.Below" offset="14" size="10"></e-label-settings>
                <e-featured-measure-settings width="5"></e-featured-measure-settings>
                <e-comparative-measure-settings width="5"></e-comparative-measure-settings>
                <e-feature-measures><e-feature-measure comparative-measure="6.7" value="8" category=""></e-feature-measure></e-feature-measures>
            </e-quantitative-scale-settings>
            </ej-bullet-graph>
</div>
</center>
</div>

<div id="Tooltip" style="display: none; width: 125px; padding-top: 10px; padding-bottom: 10px">
    <div style="font-weight: bold">
        Sales
    </div>
    <table>
        <tr>
            <td>
                Current
            </td>
            <td>
                : {{:currentValue}}
            </td>
        </tr>
        <tr>
            <td>
                Target
            </td>
            <td>
                : {{:targetValue}}
            </td>
        </tr>
    </table>
</div>
}