@section SampleHeading{
    <span class="sampleName">Button / Default Functionalities</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <table>
                <tr>
                    <td>
                        Button Normal
                    </td>
                    <td class="btnsht">
                        <ej-button id="button11" text="Login" size="@ButtonSize.Normal" show-rounded-corner="true" content-type="@ContentType.ImageOnly" prefix-icon="e-icon e-handup" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Button Mini
                    </td>
                    <td class="btnsht">
                        <ej-button id="button21" text="Login" size="@ButtonSize.Mini" show-rounded-corner="true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Button Small
                    </td>
                    <td class="btnsht">
                        <ej-button id="button31" text="Login" size="@ButtonSize.Small" show-rounded-corner="true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Button Medium
                    </td>
                    <td class="btnsht">
                        <ej-button id="button41" text="Login" show-rounded-corner="true" size="@ButtonSize.Medium"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Button Large
                    </td>
                    <td class="btnsht">
                        <ej-button id="button51" text="Login" show-rounded-corner="true" size="@ButtonSize.Large" content-type="@ContentType.TextAndImage" prefix-icon="e-icon e-handup" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
@section StyleSection{
    <style>
        .frame {
            width: 30%;
        }
    </style>
}
