@section SampleHeading{
    <span class="sampleName">GroupButtons / RTL</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <table>
                <tr>
                    <td class="btnsht">
                        <ej-button  id="buttonnormal" text="Play"  show-rounded-corner="true" size="@ButtonSize.Large"  content-type="@ContentType.TextAndImage" image-position="@ImagePosition.ImageLeft" prefix-icon="e-icon e-mediaplay" enable-rtl="true" />

                    </td>
                    <td class="btnsht brtl">
                        Button
                    </td>
                </tr>
                <tr>
                    <td class="btnsht">
                        <ej-toggle-button  id="TextOnly" size="@ButtonSize.Large" show-rounded-corner="true" default-text="Play" active-text="Next" content-type="@ContentType.TextAndImage" default-prefix-icon="e-icon e-mediaplay" active-prefix-icon="e-icon e-medianext" enable-rtl="true"/>

                    </td>
                    <td class="btnsht brtl">
                        Toggle Button
                    </td>
                </tr>
                <tr>
                    <td class="btnsht">
                        <ej-split-button  id="splitbuttonnormal" text="Play" size="@ButtonSize.Large" show-rounded-corner="true" content-type="@ContentType.TextAndImage" image-position="@ImagePosition.ImageLeft" prefix-icon="e-icon e-mediaplay" target-id="adminmenu" enable-rtl="true" />

                    </td>
                    <td class="splttd btnsht brtl">
                        Split Button
                        <ul id="adminmenu">
                            <li><span>Pause</span></li>
                            <li><span>Next</span></li>
                            <li><span>Previous</span></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="btnsht">
                        <ej-group-button  id="GroupButton" width="215px" group-button-mode="@GroupButtonMode.RadioButton" show-rounded-corner="true" enable-rtl="true">
                            <e-group-button-items >
                                <e-group-button-item text="Next"></e-group-button-item>
                                <e-group-button-item text="Play"></e-group-button-item>
                                <e-group-button-item text="Previous"></e-group-button-item>
                            </e-group-button-items>
                        </ej-group-button>
                    </td>
                    <td class="btnsht brtl">
                        Group Button
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
@section StyleSection{
    <style>
        .frame {
            width: 35%;
        }

        .brtl {
            text-align: right;
        }
    </style>
}
