@section MetaTags{
   <meta name="description" content="This example demonstrates the default functionalities of the ToggleButton and its various property like size,text, showroundedcorner in a ASP.NET Core">
}
@section SampleHeading{
    <span class="sampleName">Button / Toggle Button</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <table>
                <tr>
                    <td>
                        Toggle button Normal
                    </td>
                    <td class="btnsht">
                        <ej-toggle-button  id="check11" size="@ButtonSize.Normal" show-rounded-corner="true" content-type="@ContentType.ImageOnly" default-prefix-icon="e-icon e-mediaplay" active-prefix-icon="e-icon e-medianext" />
                       
                    </td>
                </tr>
                <tr>
                    <td>
                        Toggle button Mini
                    </td>
                    <td class="btnsht">
                        <ej-toggle-button  id="check21" size="@ButtonSize.Mini" show-rounded-corner="true" default-text="Play" active-text="Stop" />
                       
                    </td>
                </tr>
                <tr>
                    <td>
                        Toggle button Small
                    </td>
                    <td class="btnsht">
                        <ej-toggle-button  id="check31" size="@ButtonSize.Small" show-rounded-corner="true" default-text="Play" active-text="Stop" />
                       
                    </td>
                </tr>
                <tr>
                    <td>
                        Toggle button Medium
                    </td>
                    <td class="btnsht">
                        <ej-toggle-button  id="check41" size="@ButtonSize.Medium" show-rounded-corner="true" default-text="Play" active-text="Stop" />
                      
                    </td>
                </tr>
                <tr>
                    <td>
                        Toggle button Large
                    </td>
                    <td class="btnsht">
                        <ej-toggle-button  id="check51" size="@ButtonSize.Large" show-rounded-corner="true" content-type="@ContentType.TextAndImage" default-text="Play" active-text="Stop" default-prefix-icon="e-icon e-mediaplay" active-prefix-icon="e-icon e-medianext" />
                       
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
@section StyleSection{
    <style>
        .frame {
            width: 35%;
        }
    </style>
}
