@section SampleHeading{
    <span class="sampleName">ListBox / Icons</span>}
@section MetaTags{
    <meta name="description" content="This example demonstrates how to pair an image with list items using the Syncfusion ASP.NET Core ListBox component.">
}
@section ControlsSection{
    <div class="control frame">
        <div class="ctrllabel">
            Select an item
        </div>
        <ej-list-box id="selectmailtools" target-id="mailtoolslist" height="220px"></ej-list-box>        
        <div>
            <ul id="mailtoolslist">
                <li>
                    <img src="@Url.Content("~/images/listbox/Categorize.png")" alt="Categorize" />
                    Categorize and Move</li>
                <li>
                    <img src="@Url.Content("~/images/listbox/Done.png")" alt="Done" />
                    Done</li>
                <li>
                    <img src="@Url.Content("~/images/listbox/Flag.png")" alt="Flag" />
                    Flag & Move</li>
                <li>
                    <img src="@Url.Content("~/images/listbox/Forward.png")" alt="Forward" />
                    Forward</li>
                <li>
                    <img src="@Url.Content("~/images/listbox/Move.png")" alt="Move" />
                    Move to Folder</li>
                <li>
                    <img src="@Url.Content("~/images/listbox/Email.png")" alt="E-mail" />
                    New E-mail</li>
                <li>
                    <img src="@Url.Content("~/images/listbox/Meeting.png")" alt="Meeting" />
                    New Meeting</li>
                <li>
                    <img src="@Url.Content("~/images/listbox/Reply.png")" alt="Reply" />
                    Reply & Delete</li>
            </ul>
        </div>
    </div>
}
@section StyleSection{
    <style type="text/css">

        .ctrllabel {
            padding: 0px 0px 12px 3px;
            font-weight: 600;
        }

        .e-ddl-popup {
            margin: 0 auto;
        }

        img {
            padding-right: 10px;
            padding-top: 3px;
            width: 18px;
            height: 15px;
        }
    </style>
}
