@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.en-US.min.js")"></script>
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.de-DE.min.js")"></script>
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.fr-FR.min.js")"></script>
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.vi-VN.min.js")"></script>
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.zh-CN.min.js")"></script>
    
}
@section SampleHeading{<span class="sampleName">TimePicker / Localization </span>}
@section ControlsSection{
    <div class="frame">
        <div class="control" style="margin-left:30px;">
            <ej-time-picker id="TimePick" locale="zh-CN" time-format="h:mm tt" />
        </div>
    </div>
}
<div id="droplist">
    <ul>
        <li>en-US</li>
        <li>vi-VN</li>
        <li>zh-CN</li>
    </ul>
</div>
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            Select Culture
        </div>
        <div class="col-md-3">
          <ej-drop-down-list id="drop" target-id="droplist" width="100px" selected-item-index="2"  change="onchange">
          </ej-drop-down-list>

        </div>
    </div>

}
@section ScriptSection{
    <script type="text/javascript">
        function onchange(args) {
            var timeobject = $("#TimePick").data("ejTimePicker");
            timeobject.option({ "locale": args.text }); timeobject.option({ "timeFormat": "h:mm tt" });
        }
        $("#sampleProperties").ejPropertiesPanel();
    </script>
}

