@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.en-US.min.js")"></script>
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.de-DE.min.js")"></script>
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.fr-FR.min.js")"></script>
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.vi-VN.min.js")"></script>
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.zh-CN.min.js")"></script>
}
@section SampleHeading{<span class="sampleName">Editor / Localization </span>}

@section ControlsSection{
    <div class="frame">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <span>Numeric Textbox</span>
            </div>
            <div class="col-xs-6 col-sm-3">
                <ej-numeric-text-box id="numeric" value="1000" locale="de-DE" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <span>Percentage Textbox</span>
            </div>
            <div class="col-xs-6 col-sm-3">
                <ej-percentage-text-box id="percent" value="100" locale="de-DE" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <span>Currency Textbox</span>
            </div>
            <div class="col-xs-6 col-sm-3">
                <ej-currency-text-box id="currency" value="50" locale="de-DE" />
            </div>
        </div>
		 <div class="row">
            <div class="col-xs-6 col-sm-3">
                <span>MaskEdit</span>
            </div>
            <div class="col-xs-6 col-sm-3">
				 <ej-mask-edit id="maskedit" mask-format="$99,999.99" input-mode="@InputMode.Text" locale="de-DE" />
            </div>
        </div>
    </div>

}
<div id="droplist">
    <ul>
        <li>en-US</li>
        <li>de-DE</li>
        <li>fr-FR</li>
        <li>zh-CN</li>
    </ul>
</div>
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            <span>Select Culture</span>
        </div>
        <div class="col-md-3">

            <ej-drop-down-list id="drop" target-id="droplist" width="120px" selected-item-index="1" change="onchange" />

        </div>
    </div>}
@section ScriptSection{

    <script>
        var numobject, percentobject, currencyobject,maskobject;
        function onchange(args) {
			var maskFormat;
            args.text == "de-DE" || args.text == "fr-FR" ? maskFormat = "99,999.99$" : maskFormat = "$99,999.99";
            numobject = $("#numeric").data("ejNumericTextbox");
            percentobject = $("#percent").data("ejPercentageTextbox");
            currencyobject = $("#currency").data("ejCurrencyTextbox");
			maskobject = $("#maskedit").data("ejMaskEdit");
            numobject.option("locale", args.text);
            percentobject.option("locale", args.text);
            currencyobject.option("locale", args.text);
			maskobject.option({ "maskFormat": maskFormat, "locale": args.text });
        }
        $("#sampleProperties").ejPropertiesPanel();
    </script>
}
@section StyleSection{

    <style type="text/css" class="cssStyles">
        .frame {
            width: 40%;
        }

        .col-xs-6.col-sm-3 {
            padding: 5px;
        }
    </style>
}