@using Syncfusion.JavaScript;
@using Syncfusion.JavaScript.DataVisualization;

@section ScriptReferenceSection{
    <script type="text/javascript" language="javascript">
        var data;
        function onchartload(sender) {
            loadTheme(sender);
            sender.model.series[0].dataSource = data.Open;
            sender.model.series[0].xName = "XValue";
            sender.model.series[0].yName = "YValue";
            sender.model.series[1].dataSource = data.Close;
            sender.model.series[1].xName = "XValue";
            sender.model.series[1].yName = "YValue";
        }
        function GetData() {
            var series1 = [];
            var series2 = [];
            var value = 100;
            var value1 = 120;
            for (var i = 1; i < 351; i++) {
                if (Math.random() > .5) {
                    value += Math.random();
                    value1 += Math.random();
                } else {
                    value -= Math.random();
                    value1 -= Math.random();
                }
                var point1 = { XValue: i, YValue: value };
                var point2 = { XValue: i, YValue: value1 };
                series1.push(point1);
                series2.push(point2);
            }
            data = { Open: series1, Close: series2 };
            return data;
        }
        function loadingdata(sender) {
            loadTheme(sender);
            data = GetData();
            sender.model.series[0].dataSource = data.Open;
            sender.model.series[0].xName = "XValue";
            sender.model.series[0].yName = "YValue";
        }
        var flag = false;
        function onchartloaded(sender) {
            if (!flag) {
                flag = true;
            } else {
                var chartobj = $("#container").data("ejChart");

                if (chartobj != null) {
                    chartobj.model.primaryXAxis.zoomPosition = sender.zoomPosition;
                    chartobj.model.primaryXAxis.zoomFactor = sender.zoomFactor;
                }
                $("#container").ejChart("redraw");
            }
        }
        $("#controlarea").css("visibility", "visible");
</script>
}
@section SampleHeading{
    <span class="sampleName">RangeNavigator / Numeric Type</span>
}

@section ControlsSection{
   <div>
       <ej-range-navigator id="scrollcontent" enable-rtl="false" load="loadingdata" range-changed="onchartloaded" enable-deferred-update="true" padding="15px" allow-snapping="true" enable-auto-resizing="false" value-type="@RangeNavigatorValueType.Numeric">
           <e-range-tooltip-settings visible="true" label-format="dd/MM/yyyy" background-color="gray" tooltip-display-mode="ondemand"></e-range-tooltip-settings>
           <e-chart-series>
               <e-series name="Product A" enable-animation="false" type="@SeriesType.Line" opacity="0.5" fill="#69D2E7">
               </e-series>
           </e-chart-series>
           <e-selected-range-settings start="100" end="250"></e-selected-range-settings>
           <e-navigator-style-settings background="transparent" selected-region-color="lightgray" unselected-region-color="gray" thumb-color="black" thumb-radius="13">
               <e-major-grid-line-style color="black" visible="true"></e-major-grid-line-style>
               <e-minor-grid-line-style color="black" visible="true"></e-minor-grid-line-style>
               <e-border color="transparent" width="2"></e-border>
           </e-navigator-style-settings>
       </ej-range-navigator>
  </div>
   <div>
       <ej-chart id="container" load="onchartload">
           <e-title text="Stock Price Analysis"></e-title>
           <e-size height="400"></e-size>
           <e-legend visible="true"></e-legend>
           <e-primary-x-axis range-padding="@ChartRangePadding.None">
           </e-primary-x-axis>
           <e-primary-y-axis label-format="${value}"><e-title text="Price ($)"></e-title></e-primary-y-axis>
           <e-crosshair visible="true" type="@CrosshairType.Trackball"> <e-line color="transparent"></e-line><e-marker shape="@ChartShape.Circle"><e-Size height="9" width="9"></e-Size></e-marker></e-crosshair>
           <e-chart-series>
               <e-series type="@SeriesType.Line" name="Product X" enable-animation="true" width="2">
                   <e-chart-tooltip visible="true" format="#point.x#  : ej.format(#point.y#,n2)"></e-chart-tooltip>
               </e-series>
               <e-series type="@SeriesType.Line" name="Product Y" enable-animation="true" width="2">
                   <e-chart-tooltip visible="true" format="#point.x#  : ej.format(#point.y#,n2)"></e-chart-tooltip>
               </e-series>
           </e-chart-series>
       </ej-chart>
</div>
}