@using Syncfusion.JavaScript;

@section SampleHeading{<span class="sampleName"> ReportDesigner/Default</span>}

@section StyleSection{
    <style>
        #rptdesigner1 {
            min-height: 650px;
            width: 100%;
        }
    </style>
    <link href="@Url.Content("~/scripts/CodeMirror/codemirror.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/scripts/CodeMirror/show-hint.min.css")" rel="stylesheet" />
}

@section ControlsSection{
    <div style="width:100%">
        <ej-report-designer id="rptdesigner1" create="controlInitialized" service-url="../ReportDesigner"></ej-report-designer>
    </div>
}

@section ScriptSection{
    <script src="@Url.Content("~/scripts/CodeMirror/codemirror.js")"></script>
    <script src="@Url.Content("~/scripts/CodeMirror/show-hint.js")"></script>
    <script src="@Url.Content("~/scripts/CodeMirror/sql-hint.js")"></script>
    <script src="@Url.Content("~/scripts/CodeMirror/sql.js")"></script>

    <script type="text/javascript">
        var controlId = 'rptdesigner1';
        @{ var isSupport = true; }

        function controlInitialized(args) {
            var designer = $('#' + controlId).data('ejReportDesigner');
            designer.openReport('/Catagory2/Invoice');
        }

        if ((ej.browserInfo().name === "msie" && Number(ej.browserInfo().version) < 9)) {
            alert("ReportDesigner will not be supported in IE Version < 9");
            @isSupport = false;
        }
    </script>
}