@using Syncfusion.JavaScript;
@using Syncfusion.JavaScript.DataVisualization;

@section SampleHeading{<span class="sampleName">Chart / User Interaction/ TrackBall</span>}

@section ControlsSection{
    <div>
        <ej-chart id="container" can-resize="true" load="loadTheme">
            <e-size height="600" width="970"></e-size>
            <e-legend visible="true" shape="@ChartShape.Circle" position="@LegendPosition.Top">
                <e-item-style height="10" width="10"></e-item-style>
            </e-legend>
            <e-title text="Passenger Car Sales"></e-title>
            <e-crosshair visible="true" type="@CrosshairType.Trackball">
                <e-marker shape="@ChartShape.Circle" visible="true">
                    <e-Size height="9" width="9"></e-Size>
                </e-marker>
                <e-trackball-tooltip-settings mode="@TrackballDisplayMode.Grouping"></e-trackball-tooltip-settings>
            </e-crosshair>
            <e-primary-x-axis value-type="@AxisValueType.Datetime" interval-type="@ChartIntervalType.Years">
                <e-range min="new DateTime(2000,1,1)" max="new DateTime(2006,2,11)" interval="1"></e-range>
                <e-axis-line visible="false"></e-axis-line>
                <e-major-grid-lines visible="false"></e-major-grid-lines>
                <e-title text="Year"></e-title>
            </e-primary-x-axis>
            <e-primary-y-axis label-format="{value}K">
                <e-title text="Payment"></e-title>
                <e-range max="120" min="20" interval="20"></e-range>
                <e-axis-line visible="false"></e-axis-line>
                <e-major-grid-lines visible="false"></e-major-grid-lines>
            </e-primary-y-axis>
            <e-common-series-options type="@SeriesType.Line" enable-animation="true">
                <e-border width="3"></e-border>
                <e-marker shape="@ChartShape.Circle" visible="true">
                    <e-Size height="6" width="6"></e-Size>
                </e-marker>
            </e-common-series-options>
            <e-chart-series>
                <e-series name="John">
                    <e-chart-tooltip visible="false" format="#point.x# : #point.y#"></e-chart-tooltip>
                    <e-points>
                        <e-point x="2000/ 02/ 11" y="30"></e-point>
                        <e-point x="2000/ 09/ 14" y="35"></e-point>
                        <e-point x="2001/ 02/ 11" y="40"></e-point>
                        <e-point x="2001/ 09/ 16" y="36"></e-point>
                        <e-point x="2002/ 02/ 07" y="28"></e-point>
                        <e-point x="2002/ 09/ 07" y="33"></e-point>
                        <e-point x="2003/ 02/ 11" y="39"></e-point>
                        <e-point x="2003/ 09/ 14" y="38"></e-point>
                        <e-point x="2004/ 02/ 06" y="34"></e-point>
                        <e-point x="2004/ 09/ 06" y="46"></e-point>
                        <e-point x="2005/ 02/ 11" y="54"></e-point>
                        <e-point x="2005/ 09/ 11" y="65"></e-point>
                        <e-point x="2006/ 02/ 28" y="39"></e-point>
                    </e-points>
                </e-series>
                <e-series name="Andrew">
                    <e-chart-tooltip visible="true" format="#point.x# : #point.y#"></e-chart-tooltip>
                    <e-points>
                        <e-point x="2000/ 02/ 11" y="54"></e-point>
                        <e-point x="2000/ 09/ 14" y="45"></e-point>
                        <e-point x="2001/ 02/ 11" y="43"></e-point>
                        <e-point x="2001/ 09/ 16" y="50"></e-point>
                        <e-point x="2002/ 02/ 07" y="54"></e-point>
                        <e-point x="2002/ 09/ 07" y="56"></e-point>
                        <e-point x="2003/ 02/ 11" y="60"></e-point>
                        <e-point x="2003/ 09/ 14" y="63"></e-point>
                        <e-point x="2004/ 02/ 06" y="69"></e-point>
                        <e-point x="2004/ 09/ 06" y="70"></e-point>
                        <e-point x="2005/ 02/ 11" y="72"></e-point>
                        <e-point x="2005/ 09/ 11" y="75"></e-point>
                        <e-point x="2006/ 02/ 28" y="75"></e-point>
                    </e-points>
                </e-series>
                <e-series name="Thomas">
                    <e-chart-tooltip visible="true" format="#point.x# : #point.y#"></e-chart-tooltip>
                    <e-points>
                        <e-point x="2000/ 02/ 11" y="76"></e-point>
                        <e-point x="2000/ 09/ 14" y="70"></e-point>
                        <e-point x="2001/ 02/ 11" y="63"></e-point>
                        <e-point x="2001/ 09/ 16" y="72"></e-point>
                        <e-point x="2002/ 02/ 07" y="77"></e-point>
                        <e-point x="2002/ 09/ 07" y="79"></e-point>
                        <e-point x="2003/ 02/ 11" y="72"></e-point>
                        <e-point x="2003/ 09/ 14" y="68"></e-point>
                        <e-point x="2004/ 02/ 06" y="78"></e-point>
                        <e-point x="2004/ 09/ 06" y="65"></e-point>
                        <e-point x="2005/ 02/ 11" y="81"></e-point>
                        <e-point x="2005/ 09/ 11" y="80"></e-point>
                        <e-point x="2006/ 02/ 28" y="94"></e-point>
                    </e-points>
                </e-series>
                <e-series name="Hendry">
                    <e-chart-tooltip visible="true"></e-chart-tooltip>
                    <e-points>
                        <e-point x="2000/ 02/ 11" y="98"></e-point>
                        <e-point x="2000/ 09/ 14" y="90"></e-point>
                        <e-point x="2001/ 02/ 11" y="83"></e-point>
                        <e-point x="2001/ 09/ 16" y="90"></e-point>
                        <e-point x="2002/ 02/ 07" y="86"></e-point>
                        <e-point x="2002/ 09/ 07" y="84"></e-point>
                        <e-point x="2003/ 02/ 11" y="106"></e-point>
                        <e-point x="2003/ 09/ 14" y="99"></e-point>
                        <e-point x="2004/ 02/ 06" y="110"></e-point>
                        <e-point x="2004/ 09/ 06" y="102"></e-point>
                        <e-point x="2005/ 02/ 11" y="90"></e-point>
                        <e-point x="2005/ 09/ 11" y="85"></e-point>
                        <e-point x="2006/ 02/ 28" y="110"></e-point>
                    </e-points>
                </e-series>
                <e-series name="William">
                    <e-chart-tooltip visible="true"></e-chart-tooltip>
                    <e-points>
                        <e-point x="2000/ 02/ 11" y="116"></e-point>
                        <e-point x="2000/ 09/ 14" y="110"></e-point>
                        <e-point x="2001/ 02/ 11" y="100"></e-point>
                        <e-point x="2001/ 09/ 16" y="102"></e-point>
                        <e-point x="2002/ 02/ 07" y="97"></e-point>
                        <e-point x="2002/ 09/ 07" y="89"></e-point>
                        <e-point x="2003/ 02/ 11" y="88"></e-point>
                        <e-point x="2003/ 09/ 14" y="90"></e-point>
                        <e-point x="2004/ 02/ 06" y="88"></e-point>
                        <e-point x="2004/ 09/ 06" y="75"></e-point>
                        <e-point x="2005/ 02/ 11" y="63"></e-point>
                        <e-point x="2005/ 09/ 11" y="70"></e-point>
                        <e-point x="2006/ 02/ 28" y="55"></e-point>
                    </e-points>
                </e-series>
            </e-chart-series>
        </ej-chart>
            <script>
                $("#controlarea").css("visibility", "visible");
            </script>
</div>
}
@section ScriptSection{
    <script>
    function modeChange(x) {
        var chartObj = $("#container").ejChart("instance");
         chartObj.model.crosshair.trackballTooltipSettings.mode = x.value;
         chartObj.redraw();
    }
    $("#sampleProperties").ejPropertiesPanel();
    </script>
}
@section PropertiesSection{
    <div id="sampleProperties">
        <div class="prop-grid">
            <div class="row" style="margin: 10px 0;">
                <div class="col-md-3">
                    Trackball Tooltip Mode
                </div>
                <div class="col-md-3 aligntop">
                    <select id="trackballmode" onchange="modeChange(this)">
                        <option value="grouping">Grouping</option>
                        <option value="float">Float</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
}