@using Syncfusion.JavaScript;
@using Syncfusion.JavaScript.DataVisualization;

@section SampleHeading{<span class="sampleName">Sparkline/ DefaultSparkline</span>}

@section ControlsSection{
    <div id="sparkline2">
            <table style="width:100%;">
                <tr>
                    <td align="center"><i>Mean Working Hours for year</i></td>
                    <td>
                        <div style="width:170px;">
                            <ej-spark-line id="sparkline" load="linedata" type="@SparklineType.Line">
                                <e-size height="40" width="170"></e-size>
                                <e-tool-tip visible="true">
                                    <e-font size="12px"></e-font>
                                </e-tool-tip>
                            </ej-spark-line>
                        </div>
                    </td></tr>
                <tr>
                    <td align="center"><i>Revenue Status</i></td>
                    <td><div style="height:100px;width:150px;">
                        <ej-spark-line id="columnspark" load="columndata" negative-point-color="red" high-point-color="blue" type="@SparklineType.Column">
                            <e-tool-tip visible="true">
                                <e-font size="12px"></e-font>
                            </e-tool-tip>
                            <e-size height="100" width="150"></e-size>
                        </ej-spark-line></div>
                    </td>

                </tr>
                <tr>
                    <td align="center"><i>Project Status Tracing</i></td>
                    <td><div style="height:100px;width:150px;">
                        <ej-spark-line id="areaspark" load="areadata" high-point-color="blue" low-point-color="orange" type="@SparklineType.Area">
                            <e-tool-tip visible="true">
                                <e-font size="12px"></e-font>
                            </e-tool-tip>
                            <e-marker-settings visible="true"></e-marker-settings>
                            <e-size height="100" width="150"></e-size>
                        </ej-spark-line></div>
                    </td>

                </tr>
                <tr>
                    <td align="center"><i>Profit Comparison for each months</i></td>
                    <td><div style="height:100px;width:150px;">
                        <ej-spark-line id="winspark" load="windata" stroke-width="0.4" type="@SparklineType.Winloss">                           
                            <e-size height="100" width="150"></e-size>
                        </ej-spark-line></div>
                    </td>

                </tr>
                <tr>
                    <td align="center"><i>Expenditure for a year</i></td>

                    <td><table><tr><td>
                        <div style="height:40px;width:40px;">
                           <ej-spark-line id="pie1" load="firstdata" stroke-width="0" type="@SparklineType.Pie">
                               <e-tool-tip visible="true">
                                   <e-font size="12px"></e-font>
                               </e-tool-tip>
                               <e-size height="40" width="40"></e-size>
                           </ej-spark-line></div>
                        </td><td><div style="height:40px;width:40px;">
                            <ej-spark-line id="pie2" load="seconddata" stroke-width="0" type="@SparklineType.Pie">
                                <e-tool-tip visible="true">
                                    <e-font size="12px"></e-font>
                                </e-tool-tip>
                                <e-size height="40" width="40"></e-size>
                            </ej-spark-line></div>
                        </td><td><div style="height:40px;width:40px;">
                            <ej-spark-line id="pie3" load="thirddata" stroke-width="0" type="@SparklineType.Pie">
                                <e-tool-tip visible="true">
                                    <e-font size="12px"></e-font>
                                </e-tool-tip>
                                <e-size height="40" width="40"></e-size>
                            </ej-spark-line></div>
                        </td><td><div style="height:40px;width:40px;">
                            <ej-spark-line id="pie4" load="fourthdata" stroke-width="0" type="@SparklineType.Pie">
                                <e-tool-tip visible="true">
                                    <e-font size="12px"></e-font>
                                </e-tool-tip>
                                <e-size height="40" width="40"></e-size>
                            </ej-spark-line></div>
                        </td></tr>
                        <tr>
                            <td align="center">Q1</td>
                            <td align="center">Q2</td>
                            <td align="center">Q3</td>
                            <td align="center">Q4</td>
                        </tr>
                        </table></td>
            </tr>
            </table>
</div>
}
@section ScriptSection
{
   <script>
   if (!!window.SVGSVGElement) {
                $("#sparkline2").css('visibility', 'visible');
       function linedata(args) {
           args.model.dataSource = [12, 14, 11, 12, 11, 15, 12, 10, 9, 8, 7, 6, 5, 7, 9, 11, 12, 15, 13, 12, 11, 10, 9,8, 7, 8, 10, 11, 13, 15, 12, 14, 16, 14, 12, 11 ];
       }
       function columndata(args) {
           args.model.dataSource = [2, 6, -1, 1, 12, 5, -2, 7, -3, 5, 8, 10, ];
       }
       function areadata(args) {
           args.model.dataSource = [12, -10, 11, 8, 17, 6, 2, -17, 13, -6, 8, 10, ];
       }
       function windata(args) {
           args.model.dataSource = [12, 15, -11, 13, 17, 0, -12, 17, 13, -15, 8, 10, ];
       }
       function firstdata(args) {
           args.model.dataSource =[4, 6, 7] ;
       }
       function seconddata(args) {
           args.model.dataSource =[8, 9, 1];
       }
       function thirddata(args) {
           args.model.dataSource =[2, 3, 5];
       }
       function fourthdata(args) {
           args.model.dataSource = [10, 12, 11];
       }
	   }
	   else {
                $("#sparkline2").css('visibility', 'hidden');
                alert("Sparkline will not be supported in IE Version < 9");
            }
                

</script>
}